APP_NAME="PantauTumbuh.id"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_TIMEZONE="Asia/Jakarta"
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

TELESCOPE_PATH=/log/telescope
TELESCOPE_ENABLED=true

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

IPINFO_ACCESS_TOKEN=
GEMINI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

COPERNICUS_CLIENT_ID=
COPERNICUS_CLIENT_SECRET=
# COPERNICUS_TOKEN_CACHE_SECONDS=3300

GEOSERVER_URL=http://localhost:8080/geoserver/rest
GEOSERVER_USER=
GEOSERVER_PASS=
GEOSERVER_WORKSPACE=myworkspace


SENTRY_LARAVEL_DSN=
SENTRY_SEND_DEFAULT_PII=true
SENTRY_TRACES_SAMPLE_RATE=1.0

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

# PayPal API Mode
# Values: sandbox or live (Default: live)
PAYPAL_MODE=

# PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_APP_ID=
PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=

# PayPal Setting & API Credentials - live
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_LIVE_APP_ID=

# Payment Action. Can only be 'Sale', 'Authorization' or 'Order'
PAYPAL_PAYMENT_ACTION=Sale

# Currency. Default is USD. If you need to update it, then set the value through the PAYPAL_CURRENCY environment variable.
PAYPAL_CURRENCY=USD

# Validate SSL when creating api client. By default, the value is great. To disable validation set to false.
PAYPAL_VALIDATE_SSL=true

# Currency configuration
CURRENCY_DEFAULT_CURRENCY=IDR
CURRENCY_FALLBACK_CURRENCY=USD
CURRENCY_FALLBACK_COUNTRY=US
CURRENCY_RATE_API_URL=https://open.er-api.com/v6/latest/{base}
CURRENCY_RATE_IDR_TO_USD=0.000063
CURRENCY_RATE_USD_TO_IDR=15800
CURRENCY_RATE_REFRESH_DAYS=7
CURRENCY_RATE_TIMEOUT=10
CURRENCY_RATE_RETRIES=2
CURRENCY_IP_CACHE_SECONDS=86400

CONTACT_FORM_APP_SCRIPT=
