/venv/
*.pyc
/__pycache__/
/build/
/dist/
/docs/build/
/docs/source/conf.py
/docs/source/api.rst
/node_modules
/L8
*.log
.DS_Store
.env
.env.backup
.env.production
.env.staging
.env.test
.env.development
.env.example
gee_credential.json
example_*
L8*
getImagery*.py
